<nav class="navbar navbar-expand navbar-light bg-primary">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">Home</a>
            <div class="navbar-collapse">
                <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="employeeDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Employee
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="employeeDropdown">
                        <li><a class="dropdown-item" href="/hiringForm">Hire someone</a></li>
                        <li><a class="dropdown-item" href="/displayAllEmployees">Display current Employees</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="jobsDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Jobs
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="jobsDropdown">
                        <li><a class="dropdown-item" href="/findJobTitle">Find Job Title</a></li>
                        <li><a class="dropdown-item" href="/displayAllJobInfo">Display Job Information</a></li>
                        <li><a class="dropdown-item" href="/createNewJob">Create New Job Position</a></li>
                    </ul>
                </li>
                </ul>
            </div>
        </div>
    </nav>